.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-pricing {
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-width: 100%;
  margin-top: auto;
  max-height: 100vh;
  min-height: 100%;
  align-items: center;
  margin-right: auto;
  margin-bottom: auto;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/current%20projects%5B6%5D-1400h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.home-text {
  color: #ff7388;
  font-size: 5rem;
  margin-top: 51px;
  text-align: center;
  font-family: Comic Sans MS;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-card {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-navlink {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  flex-shrink: 0;
  font-family: Comic Sans MS;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-style: groove;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #ff7388;
}
.home-navlink:hover {
  transform: scale(1.02);
}
.home-card1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-navlink1 {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  flex-shrink: 0;
  font-family: Comic Sans MS;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-style: groove;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #ff7388;
}
.home-navlink1:hover {
  transform: scale(1.02);
}
.home-card2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-navlink2 {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  flex-shrink: 0;
  font-family: Comic Sans MS;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #ff7388;
}
.home-navlink2:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .home-text {
    margin-bottom: 122px;
  }
  .home-navlink {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-navlink1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-navlink2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    margin-bottom: 73px;
  }
  .home-card {
    width: 100%;
    flex-direction: column;
  }
  .home-card1 {
    width: 100%;
    flex-direction: column;
  }
  .home-card2 {
    width: 100%;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
