.mypcspecs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mypcspecs-banner {
  width: 100%;
  display: inherit;
  margin:: auto;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-self: center;
  max-height: 100vh;
  transition: 0.3s;
  align-items: center;
  border-color: #000000;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/current%20projects%5B8%5D1-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}

.mypcspecs-text {
  color: #ff7388;
  font-size: 5rem;
  margin-top: 116px;
  text-align: center;
  font-family: Nanum Pen Script;
}
.mypcspecs-text01 {
  color: #f1324e;
  font-size: 50px;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: Nanum Pen Script;
}
.mypcspecs-navlink {
  display: flex;
  font-size: 50px;
  text-align: center;
  transition: 0.3s;
  padding-top: 11px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 5px;
  padding-left: 115px;
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 6px;
  text-transform: capitalize;
  background-size: cover;
  text-decoration: none;
  background-color: transparent;
  background-image: url("public/playground_assets/normal-200h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.mypcspecs-navlink:hover {
  background-size: cover;
  background-image: 317dbe8e-b012-4feb-a83f-4664ced2a105;
}
.mypcspecs-navlink:active {
  background-size: cover;
  background-image: 70659973-a909-4f9e-9f6e-22a02eb5223c;
}
.mypcspecs-text12 {
  color: #ff7388;
  text-align: center;
  font-family: Nanum Pen Script;
}
.mypcspecs-text13 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .mypcspecs-text {
    margin-bottom: 250px;
  }
  .mypcspecs-text13 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .mypcspecs-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mypcspecs-text {
    margin-top: 203px;
    margin-bottom: 0px;
  }
  .mypcspecs-navlink {
    width: auto;
    height: auto;
    margin-top: 0px;
    min-height: auto;
    padding-right: 12px;
  }
  .mypcspecs-text13 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .mypcspecs-banner {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .mypcspecs-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mypcspecs-text01 {
    width: auto;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
  }
  .mypcspecs-navlink {
    width: auto;
    height: auto;
    padding-top: 2px;
    padding-left: var(--dl-space-space-sixunits);
    margin-bottom: 0px;
    background-size: contain;
  }
}
